#bootstrap-overrides-logo {
    font-family: Edwardian Script ITC;
    color: rgb(211, 173, 21);
    font-size: 40px;
    font-weight: 550;
}

#bootstrap-overrides-navbar {
    background: rgb(86,9,121);
    background: linear-gradient(45deg, rgb(177, 65, 230) 21%, rgb(90, 147, 227) 95%);;
}

footer a {
    color: rgb(65, 62, 62);
    text-decoration: none;
}

footer a:hover {
    color: rgb(45, 225, 189);
    text-decoration: none;
}
